<nav class="navbar fixed-bottom navbar-dark bg-secondary">
  <%= link_to "Inicio", root_url, class: 'btn btn-sm btn-info' %>
  <a class="navbar-brand" href="#!"><small>&copy; 2021 - Programación IV - UAP</small></a>
</nav>
