<h1>Editing Service Station</h1>

<%= render 'form', service_station: @service_station if can? :edit, GncCharge%>

<%= link_to 'Show', @service_station %> |
<%= link_to 'Back', service_stations_path %>
